# Frontend API base URL used by the React app
VITE_API_URL=http://localhost:5000/api

# Backend-only values
PORT=5000
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://pralaykr20_db_user:PralayKumar123@cluster1.qe4od3n.mongodb.net/luxecart?appName=Cluster1
JWT_SECRET=cf6e0aef65a75ce6e56f799a584c4d7e18a35be5
ADMIN_EMAIL=pralaykr20@gmail.com
SHIPPING_THRESHOLD=250
